<!-- Sections -->
<section id="testimonial" class="sections" style="background-color: #f1f9dd">
    <div class="container text-center">

        <div class="heading-content">
            <h3>Our Team</h3>
        </div>

        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="col-md-4">
                                <div class="testimonial-photo">
                                    <img src="assets/images/team/1.jpg" alt=""/>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="testimonial-content">
                                    <p>
                                        An architect by profession having experience of more than 3 years in
                                        architecture, interior design and Turnkey.
                                    </p>
                                    <h6><strong>Lalit Kumar</strong>
                                        <br/>
                                        Director
                                        <br/><b>Ph. no. </b> - (+91)9650669252
                                        <br/><b>Email Id</b> - lalitlk03@gmail.com
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
</section>